<div class="content-dashboard">
  <br>
  <br>
  <br>
    <div class="dashboard-left">
      <h2 > Hi <%= current_user.username %>, welcome back!</h2>
      <div class="dashboard-left-overview-charts">
        <div class="dashboard-left-overview">
          <h3 class="text-center">Trade Overview</h3>
          <ul>
            <hr>
            <% @trades.each do |trade| %>
            <li> <%= trade.date %> | Value: <%= trade.total_value %> € | <%= trade.end_currency.name %> | Tax: <%= trade.income_tax %> €</li>
            <hr>
            <%end  %>
          </ul>
          <div class="text-center">
            <%= link_to "View More", trades_path, class: "btn btn-success" %>
          </div>
        </div>
        <div class="dashboard-left-chart">
          <div class="card-header-date">
            <h3 class="text-center">Portfolio Mix</h3>
            <h6 class="text-center"><%= Date.current%></h6>
          </div>
          <div class="card-chart">
            <canvas
              data-controller="chart"
              data-chart-data-value="<%= @chart_data.to_json %>"
              data-chart-type-value="pie"
              data-chart-options-value="<%= @chart_options.to_json %>"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="dashboard-left-csv-trades">
        <div class="csv-upload">
          <%= link_to "Upload File", profiles_upload_csv_path, class: "btn btn-success" %>
        </div>
        <div class="trades-and-taxes">
          <%= link_to "Your Trades and Taxes", trades_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="dashboard-right-profile">
      <div class="card-profile">
        <div class="card-profile-head">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= current_user.username %>
          <hr>
        </div>
        <div class="container recent-users">
          Recent User-Interaction:
          <ul>
            <% @displayed_users.each do |user|%>
              <hr>
                <li> <%= cl_image_tag user.photo.key, class: "avatar-small" %> <%= link_to user.username, user_path(user) %> </li>
            <% end  %>
            <hr>
          </ul>
        </div>
        <div class="text-center">
        <%= link_to "Show Leaderboard", users_path(:id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
</div>
