<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @user.username %></h5>
      </div>
      <div class="modal-body">
        <div class="video-call"
          data-controller="video-call"
          data-video-call-access-token-value="<%= @twilio_jwt %>"
          data-video-call-room-id-value="<%= @room_id %>"
          data-video-call-buddy-video-width-value="200"
        >
        <div class="call-video-views">
          <div id="remote-video" data-video-call-target="buddyVideo">
            <div class="no-call" data-video-call-target="noCall">
              No call in progress. Click 'Call' to connect!
            </div>
            <div class="waiting-for-buddy d-none"
                  data-video-call-target="awaitingBuddy">
              Waiting for <%= @user.username %> to join...
            </div>
          </div>
          <div id="local-video" data-video-call-target="localVideo"></div>
        </div>
        <div class="call-buttons">
          <%= link_to '#',
                      class: 'call-button btn-start-call btn btn-success',
                      data: {
                        action: 'click->video-call#joinCall',
                        video_call_target: 'joinCallButton'
                      } do %>
            Call <i class="fas fa-video"></i>
          <% end %>
          <%= link_to '#',
                      class: 'call-button btn-end-call d-none',
                      data: {
                        action: 'click->video-call#endCall',
                        video_call_target: 'endCallButton',
                        'bs-toggle': 'modal'
                      } do %>
            End <i class="fas fa-video-slash"></i>
          <% end %>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" >Leave Call</button>
      </div>
    </div>
  </div>
</div>
