<div class="container">
  <br>
  <h2 class="text-center"> <%= @user.username %> </h2>
  <div class="card">
    <div class="container">
      <%= cl_image_tag @user.photo.key, class: "avatar-medium" %>
      <strong> ⭐️ Score: <%= @user.score %></strong> <small>Ledger: <%= @user.ledger_address %></small>
      <br>
      <%= @user.bio %>
    </div>
  </div>
  <br>
  <br>
  <% if @user != current_user %>
    <div class="chat-header">
      <h4>Your chat </h4>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#videoModal">
        Start your call now  <i class="fas fa-video"></i>
      </button>
    </div>
    <%= render 'users/chat' %>
    <%= render 'users/video' %>
  <% else %>
    <h4>Look at your beautiful page</h4>
    <div class="card">
    </div>
  <% end %>
</div>
