<div class="container">
  <br>
  <h2 class="text-center"> <%= @user.username %> </h2>
  <div class="card">
    <div class="container">
      <%= cl_image_tag @user.photo.key, class: "avatar-medium" %>
      <strong> ⭐️ Score: <%= @user.score %></strong> <small>Ledger: <%= @user.ledger_address %></small>
      <br>
      <%= @user.bio %>
    </div>
  </div>
  <br>
  <br>
  <% if @user != current_user %>
    <%= render 'users/chat' %>
    <%= render 'users/video', twilio_token: @twilio_jwt, room_id: @room_id %>
  <% else %>
    <h4>Look at your beautiful page</h4>
    <div class="card">
    </div>
  <% end %>
</div>
<br>
<br>
