<div>
<br>
  <h1 class="text-center">Your trade overview</h1>
  <br>
  <br>
    <div class="container">
      <ul>
        <% @trades.each do |trade| %>
          <li>Date: <%= trade.date %> | <%=trade.start_currency.name %> to <%= trade.end_currency.name %> | Price: <%= trade.price%> | Volume: <%= trade.volume %> | Total Value: <%= trade.total_value%>| Amount Tax Free: <%= trade.amount_tax_free %></li>
        <% end %>
      </ul>
    </div>
</div>
