<div class="container index-container">
  <h1 class="mb-5">Trades and Taxes</h1>
  <%= link_to profiles_my_dashboard_path(current_user), class:"btn-back" do  %>
  <i class="fas fa-arrow-circle-left arrow"></i>
  <% end %>
  <div class="d-flex justify-content-center">
      <table>
        <thead>
          <tr>
            <th>📆 Date</th>
            <th> Ordertype </th>
            <th>💰 Currency </th>
            <th>Price</th>
            <th>Volume</th>
            <th>Total Value</th>
            <th>Amount taxes due</th>
          </tr>
        </thead>
        <tbody>
          <% @trades.each do |trade| %>
            <tr>
              <td><%= trade.date %></td>
              <td><%= trade.type_of_trade %></td>
              <td> <% if trade.type_of_trade == 'buy' %>
                      <%= trade.end_currency.name %>
                    <% elsif trade.type_of_trade == 'sell' %>
                      <%=trade.start_currency.name %>
                    <% end %> </td>
              <td><strong><%= trade.price%> €</strong></td>
              <td><strong><%= trade.volume %></strong>
                          <% if trade.type_of_trade == 'buy' %>
                            <%= trade.end_currency.symbol %>
                          <% elsif trade.type_of_trade == 'sell' %>
                            <%=trade.start_currency.symbol %>
                          <% end %> </td>
              <td><strong><%= trade.total_value%>  € </strong></td>
              <td><strong><%= trade.income_tax %> € </strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
